@import "reset.css";

body{
  background: linear-gradient( to left, rgb(239, 231, 192),rgb(160, 207, 254)); 
  color:rgb(255, 255, 255);
}

.logo{
  font-size:4em;
  margin:25px;
  font-family: Caveat;
}

.logo2{
  font-size:0.7em;
  font-family:Caveat;
}

.acc{
  font-size:1em;
  text-align: right;
  margin-right:20px;
}

